{% extends 'base.html' %}

{% block title %}
За мен
{% endblock %}

{% block body %}
<div class="container">
<h5>Здравейте казвам се Юри Анатолиев. Роден съм в град Видин .
    Израстнах в този красив град, разположен на брега на река Дунав.
    Още не навършил четири години дядо ми и баща ми ме водеха за риба, във всеки удобен случей.
    Така риболова се превърна в една основна част от живота ми. С годините ми ставаше все по-интересно и по-интересно, а желанието за по-голям улов, по-голямо.
    Имах привилегията да израсна в ръцете на едни от най-изявените риболовци на града ни.
    Те още от малък ме научиха да си задавам постоянно въпроси и да не спирам да търся отговорите им. Това е и в основата да обърна внимание на всеки един детайл от риболова.
    Ден след ден научавах неща, който ясно ми показваха, че риболова не е само късмет, но е и една много необятна наука.
    През 2004-та година се преместих да живея и уча в София, и не след дълго започнах работа в магазин за риболовни принадлежности. Не закъсняха и първите турнири по риболов на плувка, а малко след това и участието ми в държавното ни първенство .
    Майстор на годината - 2007
    От тогава състезателния риболов стана неразделна част от моето ежедневие.
    Състезавам се за един от водещите клубове в родната федерация – КСР „Видракс“- секция „Плувка“, както и към алтернативни структури и частни турнири.
    Предпочитаният риболов на състезателно ниво за мен е, този на плувка и фидер. Където имам и се стремя, към високи резултати и постижения.
    Обичам риболова и практикувам и други видове,като
    подледен, спининг, риболов на дъно и други…</h5>
    <div
{% endblock %}